html, body {
    height: 100vh;
    overflow-x: hidden;

    background: #FFF;
    background: -webkit-linear-gradient(#FFF, #C8D7Dd);
    background: -o-linear-gradient(#FFF, #C8D7Dd);
    background: -moz-linear-gradient(#FFF, #C8D7Dd);
    background: linear-gradient(#FFF, #C8D7Dd);
}

.main-content {
    display: flex;
    padding: 0 150px;
}

.main-view-container {
    flex: 5;
    margin: 0 15px;
}

.friendships-view-col {
    flex: 1;
}

.main-view-container.ng-enter {
    animation: fadeIn 0.3s ease-out;
}

/* STYLES TO USE ANYWHERE */

textarea {
    resize: none;
}

.clickable {
    cursor: pointer;
}

.icon-btn {
    background: transparent;
    cursor: pointer;
}

.icon-btn:hover {
    opacity: 0.6;
}

.icon-btn:active {
    opacity: 0.8;
}

/* ANIMATIONS */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
