<div class="account-settings-pane">
    <div class="row">
        <div class="col-sm-12">
            <h1>Settings</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-7">
            <table class="settings-table">

                <tr>
                    <td>Profile Picture</td>
                    <td>
                        <input type="url" placeholder="URL of image" ng-model="actSetCtrl.candidate_pic_url" enter-submit="actSetCtrl.updateProfilePic()" />
                        <a class="btn btn-success profile-pic-save" ng-show="actSetCtrl.unsavedProfilePic()" ng-click="actSetCtrl.updateProfilePic()">Save</a>
                    </td>
                </tr>

                <tr>
                    <td>Sound On/Off</td>
                    <td>
                        <label class="btn btn-default">
                            <input type="checkbox" ng-model="actSetCtrl.account_settings.sound_on" ng-change="actSetCtrl.updateSoundOn()" hidden>
                            <i class="fa fa-volume-up" ng-show="actSetCtrl.account_settings.sound_on"></i>
                            <i class="fa fa-volume-off" ng-hide="actSetCtrl.account_settings.sound_on"></i>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Delete Account</a>
                            <ul class="dropdown-menu">
                                <li ng-click="actSetCtrl.deleteUser()"><a class="btn btn-danger">Definitely Delete Account</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>

            </table>
        </div>

        <div class="col-sm-5">
            <div class="profile-pic-preview-container">
                <img class="clickable profile-pic-preview" ng-class="{'needs-save': actSetCtrl.unsavedProfilePic()}" ng-src="{{ actSetCtrl.candidate_pic_url || actSetCtrl.default_pic }}" err-src="{{ actSetCtrl.default_pic }}" ng-click="actSetCtrl.clickProfilePic($event)" />
            </div>
        </div>
    </div>
</div>
