<div class="row" ng-controller="authController as authCtrl">
    <div class="col-sm-4">
        <braid-login ng-show="authCtrl.login_object"
                     selected_user="mainCtrl.selected_user"
                     login_object="authCtrl.login_object">
        </braid-login>

        <braid-register ng-hide="authCtrl.login_object"
                        selected_user="mainCtrl.selected_user"
                        login_object="authCtrl.login_object">
        </braid-register>
    </div>
</div>
