<div class="row" ng-controller="chatController as chatCtrl">
    <div class="col-sm-3 col-sm-offset-1">
        <braid-queue messages="mainCtrl.messages"
                     strands="mainCtrl.strands"
                     num_messages="mainCtrl.num_messages"
                     selected_strand="mainCtrl.selected_strand"
                     selected_convo="mainCtrl.selected_convo"
                     selected_user="mainCtrl.selected_user"
                     strand_map="mainCtrl.strand_map"
                     friend_user_map="mainCtrl.friend_user_map">
        </braid-queue>
    </div>

    <div class="col-sm-8 message-view-col">
        <braid-messages messages="mainCtrl.messages"
                        strands="mainCtrl.strands"
                        num_messages="mainCtrl.num_messages"
                        selected_strand="mainCtrl.selected_strand"
                        selected_convo="mainCtrl.selected_convo"
                        selected_user="mainCtrl.selected_user"
                        strand_map="mainCtrl.strand_map"
                        friend_user_map="mainCtrl.friend_user_map"
                        title_notifications="mainCtrl.title_notifications">
        </braid-messages>
    </div>
</div>
