<div id="convo-list-pane" class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <h3 id="convos-header">Convos</h3>
        </div>
    </div>

    <div class="row">
        <div id="convo-list-col" class="col-sm-12">
            <div id="convo-list-wrapper">
                <div class="convo-in-list clearfix clickable" ng-class="{'selected': convo._id===convoCtrl.selected_convo._id}" ng-click="convoCtrl.selectConvo(convo)" ng-repeat="convo in convoCtrl.convos">
                    {{ convo | partner:convoCtrl.selected_user | username:convoCtrl.friend_user_map }}
                </div>
            </div>
        </div>
    </div>

    <div id="convo-form-row" class="row">
        <form>
            <div class="col-sm-8">
                <div class="form-group">
                    <select id="convos-select" ng-model="convoCtrl.newConvoFormData.user_id_1" ng-options="convo_partner._id as convo_partner.username for convo_partner in convoCtrl.potential_partners"></select>
                </div>
            </div>

            <div class="col-sm-4 no-left-padding">
                <button type="submit" class="btn btn-success" ng-click="convoCtrl.createConvo()">Create</button>
            </div>
        </form>
    </div>

</div>
