<div id="friendship-list-pane">

    <div class="row">
        <div class="col-sm-12">
            <h3>Friendships</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="friendship-in-list clearfix" ng-repeat="friendship in friendshipCtrl.friendships">
                <b>{{ friendship | friend:friendshipCtrl.selected_user | username:friendshipCtrl.friend_user_map }} {{ friendship.status === 'accepted' ? undefined : '(' + friendship.status + ')' }}</b>
                <button class="btn btn-default pull-right" ng-click="friendshipCtrl.deleteFriendship(friendship._id); $event.stopPropagation();">&#10005;</button>
                <button class="btn btn-default pull-right" ng-click="friendshipCtrl.acceptFriendship(friendship._id); $event.stopPropagation();" ng-show="friendship.status==='pending' && friendship.target_id===friendshipCtrl.selected_user._id">&#10003;</button>
            </div>
        </div>
    </div>

    <div id="friendship-form-row" class="row">
        <form>
            <div class="col-sm-8">
                <input id="friendships-input" type="text" placeholder="Username" ng-model="friendshipCtrl.newFriendshipFormData.username" />
            </div>

            <div class="col-sm-4 no-left-padding">
                <button class="btn btn-default" ng-click="friendshipCtrl.createFriendship()">Request</button>
            </div>
        </form>
    </div>

</div>
