<div id="friendship-list-pane" class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <h3>Friends <label class="pull-right"><input type="checkbox" ng-model="friendshipCtrl.show_all"> All</input></label></h3>
        </div>
    </div>

    <div class="row">
        <div id="friendship-list-col" class="col-sm-12">
            <div id="friendship-list-wrapper">
                <div class="friendship-in-list clearfix" ng-show="friendshipCtrl.showFriendship(friendship)" ng-repeat="friendship in friendshipCtrl.friendships">
                    {{ friendship | friend:friendshipCtrl.selected_user | username:friendshipCtrl.friend_user_map }} {{ friendshipCtrl.conditionalStatus(friendship) }}
                    <button class="btn btn-default pull-right" ng-click="friendshipCtrl.deleteFriendship(friendship._id); $event.stopPropagation();">&#10005;</button>
                    <button class="btn btn-default pull-right" ng-click="friendshipCtrl.acceptFriendship(friendship._id); $event.stopPropagation();" ng-show="friendshipCtrl.showAcceptButton(friendship)">&#10003;</button>
                </div>
            </div>
        </div>
    </div>

    <div id="friendship-form-row" class="row">
        <form>
            <div class="col-sm-8">
                <input id="friendships-input" type="text" placeholder="Username" ng-model="friendshipCtrl.newFriendshipFormData.username" />
            </div>

            <div class="col-sm-4 no-left-padding">
                <button class="btn btn-default" ng-click="friendshipCtrl.createFriendship()">Request</button>
            </div>
        </form>
    </div>

</div>
