<div id="message-list-pane" ng-show="messageCtrl.selected_convo">

    <div class="row">
        <div class="col-sm-12">
            <div class="message-header-div">
                <h1>{{ messageCtrl.selected_convo | partner:messageCtrl.selected_user | username:messageCtrl.friend_user_map }}</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="message-list-wrapper" ng-class="{'clickable': messageCtrl.selected_strand}" ng-click="messageCtrl.clickMessageListWrapper()" scroll-glue>
                <a class="clickable" ng-show="messageCtrl.showLoadMoreMessagesLink()" ng-click="messageCtrl.increaseNumMessages(); $event.stopPropagation();">Load earlier messages</a>
                <div id="message-{{message._id}}" class="message-wrapper clickable" ng-class="[messageCtrl.messageUserClass(message), {'hovered-messages': messageCtrl.isOneOfHoveredMessages(message)}]" ng-hide="messageCtrl.messageIsHidden(message)" ng-mouseover="messageCtrl.hoverMessage(message)" ng-mouseleave="messageCtrl.unhoverMessage(message)" ng-click="messageCtrl.toggleMessage(message, $event); $event.stopPropagation();" ng-repeat="message in messageCtrl.messages track by message._id">
                    <div class="bubble" ng-style="{'background-color': messageCtrl.paintStrand(message)}">
                        <span class="message-text" ng-bind-html="message.text | linky:'_blank'"></span>
                    </div>
                    <span class="message-time-sent" ng-show="messageCtrl.isOneOfHoveredMessages(message)">{{ message.time_sent | dateStretchy }}</span>
                </div>
                <div class="read-receipt pull-right" ng-show="messageCtrl.last_time_read">Read at {{messageCtrl.last_time_read | dateStretchy}}</div>
                <div class="typing-indicator" ng-show="messageCtrl.otherUserIsTyping()" ng-style="{'background-color': messageCtrl.other_user_typing_color}"></div>
                <div class="typing-indicator-triangle" ng-show="messageCtrl.otherUserIsTyping()" ng-style="{'border-color': messageCtrl.other_user_typing_color + ' transparent'}"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form class="send-message-form">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <textarea id="sendable-textarea" class="form-control no-disabled-cursor" placeholder="Type a message..." ng-style="{'background-color': messageCtrl.paintTextarea()}" ng-model="messageCtrl.newMessageFormData.text" ng-focus="messageCtrl.focusTextarea()" ng-blur="messageCtrl.sendable_text_focus=false" enter-submit="messageCtrl.createMessage()" ng-change="messageCtrl.userIsTyping()" ng-disabled="messageCtrl.send_button_disabled"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary btn-lg no-disabled-cursor" ng-mouseup="messageCtrl.createMessage()" ng-disabled="messageCtrl.send_button_disabled">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
