<div id="message-list-pane" ng-show="messageCtrl.selected_convo">

    <div class="row">
        <div class="col-sm-12">
            <h3>Messages</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>{{ messageCtrl.selected_convo | partner:messageCtrl.selected_user | username:messageCtrl.user_map }}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="message-list-wrapper" scroll-glue>
                <div class="message-in-list" ng-style="{'background-color': messageCtrl.paintStrand(message)}" ng-hide="messageCtrl.messageIsHidden(message)" ng-mousedown="messageCtrl.toggleMessage(message)" ng-repeat="message in messageCtrl.messages">
                    <p><b>{{ message.sender_id | username:messageCtrl.user_map }}</b>:  <span class="message-text">{{ message.text }}</span></p>
                    <button ng-mousedown="messageCtrl.deleteMessage(message._id, messageCtrl.selected_convo._id); $event.stopPropagation();">X</button>
                    <button ng-mousedown="messageCtrl.removeMessageFromStrand(message._id); $event.stopPropagation();" ng-hide="messageCtrl.removeButtonIsHidden(message)">REMOVE</button>
                    <button ng-mousedown="messageCtrl.addMessagesToStrand(message); $event.stopPropagation();" ng-hide="messageCtrl.addButtonIsHidden(message)">ADD</button>
                    <i>Strand</i>: {{ message.strand_id || "NO STRAND" }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form>
                <div class="col-sm-8">
                    <div class="form-group">
                        <textarea class="form-control input-lg" ng-model="messageCtrl.newMessageFormData.text" ng-focus="messageCtrl.message_text_focus=true" ng-blur="messageCtrl.message_text_focus=false" enter-submit="messageCtrl.createMessage()"></textarea>
                    </div>
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary btn-lg" ng-mousedown="messageCtrl.createMessage()">Send</button>
                </div>
            </form>
        </div>
    </div>

</div>
