<div id="message-list-pane" ng-show="messageCtrl.selected_convo">

    <div class="row">
        <div class="col-sm-12">
            <h3>Messages</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>{{ messageCtrl.selected_convo | partner:messageCtrl.selected_user | username:messageCtrl.friend_user_map }}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="message-list-wrapper" scroll-glue>
                <div class="message-in-list" ng-style="{'width': 80 + '%', 'margin-left': messageCtrl.alignMessage(message)}" ng-hide="messageCtrl.messageIsHidden(message)" ng-mouseover="messageCtrl.hovered_message=message._id" ng-mouseleave="messageCtrl.hovered_message=undefined" ng-click="messageCtrl.toggleMessage(message)" ng-repeat="message in messageCtrl.messages">
                    <div class ="bubble" ng-style="{'background-color': messageCtrl.paintStrand(message)}">
                    <style type="text/css"> .bubble:after {border-color:transparent {{messageCtrl.paintStrand(message)}};} </style>
                        <span class="message-text">{{ message.text }}</span>
                        <button class="btn btn-default delete-message-button" ng-style="{'opacity': messageCtrl.deleteButtonOpacity(message)}" ng-click="messageCtrl.deleteMessage(message._id, messageCtrl.selected_convo._id); $event.stopPropagation();">X</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form>
                <div class="col-sm-8">
                    <div class="form-group">
                        <textarea id="sendable-textarea" class="form-control input-lg" ng-style="{'background-color': messageCtrl.paintTextarea()}" ng-model="messageCtrl.newMessageFormData.text" ng-focus="messageCtrl.sendable_text_focus=true" ng-blur="messageCtrl.sendable_text_focus=false" enter-submit="messageCtrl.createMessage()"></textarea>
                    </div>
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary btn-lg" ng-mousedown="messageCtrl.createMessage()">Send</button>
                </div>
            </form>
        </div>
    </div>

</div>
