<nav class="navbar navbar-default">
    <div class="container-fluid navbar-container">

        <img class="navbar-logo" src="/img/poop_logo.jpeg?" alt="">

        <a class="navbar-brand navbar-right">{{ selected_user.username }}</a>
        <div class="navbar-right" ng-show="selected_user">
            <braid-logout login_object="login_object"
                          selected_user="selected_user"
                          page_title="page_title">
            </braid-logout>
        </div>
        <label id="sound-checkbox-label" class="btn btn-default navbar-right">
            <input id="sound-checkbox" type="checkbox" ng-model="sound_on" hidden>
            <i class="fa fa-volume-up" ng-show="sound_on"></i>
            <i class="fa fa-volume-off" ng-hide="sound_on"></i>
        </label>

    </div>
</nav>
