<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header navbar-right">
            <a class="navbar-brand">{{ selected_user.username }}</a>
        </div>
            <div class="navbar-logo">
                <img src="/img/poop_logo.jpeg" alt="PoopBraid.io logo">
            </div>
        <!-- <img src="/img/poop_words.jpeg" alt="PoopBraid.io words" style="width:240px;height:45px;margin-top:10px"> -->
        <div class="navbar-header navbar-right" ng-show="selected_user">
            <braid-logout selected_user="selected_user"></braid-logout>
        </div>

    </div>
</nav>
