<div class="row">
    <div class="col-sm-12">
        <h3>Users</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="user-in-list" ng-class="{'selected': user._id===userCtrl.selected_user._id}" ng-click="userCtrl.selectUser(user)" ng-repeat="user in userCtrl.users">
            <p>User: <b>{{ user.username }}</b></p>
            <button ng-click="userCtrl.deleteUser(user._id); $event.stopPropagation();">X</button>
        </div>
    </div>
</div>

<div id="user-form" class="row">
    <form>
        <div class="col-sm-9">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="userCtrl.forms.newUserFormData.username">
            </div>
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary" ng-click="userCtrl.createUser()">+</button>
        </div>
    </form>
</div>
