.account-settings-pane {
    background-color: white;
    border-bottom: solid 1px #999;
    border-right: solid 1px #999;
    border-left: solid 1px #999;
    padding: 20px;
}

.settings-table {
    margin-top: 30px;
    width: 70%;
    text-align: center;
}

.settings-table tr:not(:first-child):not(:last-child) {
    border: 1px solid #CCC;
    border-width: 1px 0;
}

.settings-table td {
    width: 50%;
    padding: 10px;
}

.profile-pic-upload-preview {
    height: 50px;
    width: 50px;
}
