.account-settings-pane {
    padding: 20px;
}

.settings-table {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.settings-table tr:not(:first-child):not(:last-child) {
    border: 1px solid #CCC;
    border-width: 1px 0;
}

.settings-table td {
    height: 70px;
    padding: 15px;
}

.settings-table td:first-child {
    width: 30%;
    color: #555;
    font-size: 1.1em;
    font-weight: bold;
}

.settings-table td:not(:first-child) {
    width: 70%;
}

.profile-pic-save {
    margin-left: 15px;
}

.profile-pic-preview-container {
    height: 200px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.profile-pic-preview {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.needs-save {
    opacity: 0.5;
}
