.convo-in-list {
    border-top: solid 1px #bbb;
    padding: 5px;
}

#convo-list-pane .selected {
    background-color: #bbb;
}

#convo-form-row {
    border-top: solid 1px #bbb;
    padding: 5px;
}

#convos-select {
    width: 100%;
}

.no-left-padding {
    padding-left: 0;
}
