.firstview-all {
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 30px;
}

.firstview-header {
    margin-bottom: 30px;
}

.firstview-button {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    background: #2c2e30;
    padding: 5px 10px 7px 10px;
    border: none;
}

.firstview-button:hover {
    background: #7a7a7a;
    text-decoration: none;
}

.firstview-switch {
    margin-top: 10px;
}
