.friendship-list-pane {
    font-size: 0.85em;
    background-color: white;
    border-right: solid 1px #999;
    border-bottom: solid 1px #999;
    border-left: solid 1px #999;
}

.friendship-list-pane .btn {
    font-size: 0.85em;
}

.friendship-list-pane .selected {
    background-color: #bbb;
}

.show-friendships-button-col {
    margin-top: 20px;
}

.friendships-content {
    overflow-y: hidden;
    height: 74vh;
}

.friendships-content.ng-hide-add, .friendships-content.ng-hide-remove {
    -webkit-transition: height ease-in 0.2s;
    -moz-transition: height ease-in 0.2s;
    -o-transition: height ease-in 0.2s;
    -ms-transition: height ease-in 0.2s;
    transition: height ease-in 0.2s;
}

.friendships-content.ng-hide {
    height: 0;
}

.friendship-list-col {
    padding-left: 0;
}

.friendship-list-wrapper {
    height: 65vh;
    overflow-y: scroll;
}

.friendship-list-wrapper:first-child {
    border-top: solid 4px #777;
}

.friendship-in-list {
    border-bottom: solid 1px #bbb;
    padding: 5px 5px 5px 10px;
    margin-right: 20px;
}

.friendship-needs-answer {
    color: #FF3333;
}

.friendship-form-row {
    border-top: solid 2px #777;
    padding: 15px 15px 10px 0px;
}

.friendships-input {
    width: 100%;
}

.no-left-padding {
    padding-left: 0;
}

.friendship-notification-bubble {
    position: absolute;
    top: 50px;
    left: 6px;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: #FF4444;
}

.friendship-notification-inner-bubble {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: white;
}

.friendship-error-row {
    position: relative;
}

.friendship-error {
    font-size: 0.85em;
    color: white;
    background-color: #FF5C5C;
    padding: 5px;
    pointer-events: none;
    position: absolute;
    top: -5px;
    left: -10px;
    max-width: 100%;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
}
