#friendship-list-pane {
    font-size: 0.85em;
}

#friendship-list-pane .selected {
    background-color: #bbb;
}

#friendship-list-wrapper {
    min-height: 50vh;
    max-height: 50vh;
    overflow: scroll;
}

#friendship-list-wrapper:first-child {
    border-top: solid 3px #777;
}

.friendship-in-list {
    border-top: solid 1px #bbb;
    padding: 5px;
}

#friendship-form-row {
    border-top: solid 1px #bbb;
    padding: 15px 5px 5px 5px;
}

#friendships-input {
    width: 100%;
}

.no-left-padding {
    padding-left: 0;
}
