#margin-fixer-grid-wrapper {
    padding: 0 15px;
}

#convo-list-col {
    background-color: #ddd;
}

#message-list-col {
    background-color: #eee;
}

#user-list-col {
    background-color: #ddd;
}
