#main-content {
    position: relative;
    overflow-x: hidden;
}

#margin-fixer-grid-wrapper {
    padding: 0 15px;
}

#message-view-col {
    background-color: #eee;
}

textarea {
    resize: none;
}
