#margin-fixer-grid-wrapper {
    padding: 0 15px;
}

#convo-list-pane {
    background-color: #ddd;
}

.convo-in-list {
    border-bottom: solid 1px black;
}

#convo-list-pane .selected {
    background-color: #bbb;
}

#message-list-pane {
    background-color: #eee;
}

#user-list-pane {
    background-color: #ddd;
}

.user-in-list {
    border-bottom: solid 1px black;
}

#user-list-pane .selected {
    background-color: #bbb;
}
