#message-list-pane .primed {
    background-color: rgb(250, 185, 80) !important;
}

#message-list-pane .current-strand {
    background-color: rgb(80, 173, 250) !important;
}

#message-list-wrapper {
    max-height: 60vh;
    overflow: auto;
}

.message-in-list {
    border-bottom: solid 1px gray;
}

.message-text {
    white-space: pre-wrap;
}
