#message-list-wrapper {
    max-height: 60vh;
    overflow: auto;
}

#message-list-pane .primed {
    background-color: red !important;
}

#message-list-pane .current-strand {
    background-color: blue !important;
}

.message-in-list {
    border-bottom: solid 1px black;
}
