#load-more-messages-link {
    cursor: pointer;
}

#message-list-wrapper {
    min-height: 60vh;
    max-height: 60vh;
    overflow: auto;
    padding: 0 15px;
    margin-bottom: 10px;
    text-align: center;
}

.message-in-list {
    cursor: pointer;
}

.hovered-messages {
    box-shadow: 2px 2px 2px #777;
}

.message-text {
    white-space: pre-wrap;
}

.bubble {
    position: relative;
    padding: 8px;
    margin-top: 3px;
    display: inline-block;
    max-width: 80%;
    margin-bottom: 3px;
}
