.navbar {
    height: 8vh;
    min-height: 40px;
}

.navbar-container {
    height: 100%;
}

.navbar-logo {
    height: 100%;
}

.navbar-words {
    height: 100%;
}

#sound-checkbox-label {
    margin-top: 10px;
    margin-right: 10px;
}
