.profile-container {
    background-color: white;
    border-bottom: solid 1px #999;
    border-right: solid 1px #999;
    border-left: solid 1px #999;
    padding: 20px;
}

.settings-table {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.settings-table td {
    width: 50%;
    border: solid 1px #CCC;
    padding: 10px;
}
