.queue-pane {
    font-size: 0.85em;
    margin-top: 10vh;
    max-height: 65vh;
    overflow-y: scroll;
}

.strand-in-list {
    margin-top: 10px;
    margin-right: 10px;
    width: 75%;
    height: 40px;
    display: table;
    text-align: right;
}

.strand-in-list span {
    display: table-cell;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.strand-in-list span:hover {
    top: -2px;
    left: -2px;
    box-shadow: 2px 2px 2px #777;
}
