.queue-pane {
    font-size: 0.85em;
    margin-top: 10vh;
    max-height: 65vh;
    overflow-y: scroll;
}

.preview-in-list {
    margin-top: 10px;
    margin-right: 10px;
    height: 40px;
    display: table;
    text-align: right;
    clear: both;
}

.preview-in-list span {
    display: table-cell;
    padding-right: 15px;
    padding-left: 15px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
}

.preview-in-list span:hover {
    top: -2px;
    left: -2px;
    box-shadow: 2px 2px 2px #777;
}

.unstranded-preview {
    background-color: #DDD;
}
