<div class="container-fluid friendship-list-pane">

    <div class="row friendships-header-row">
        <div class="col-sm-8">
            <h3>Friends</h3>
        </div>

        <div class="col-sm-4 show-friendships-button-col">
            <label class="btn btn-default">
                <input type="checkbox" ng-model="friendshipCtrl.show_friendships" hidden>
                <i class="fa fa-lg fa-caret-right" ng-hide="friendshipCtrl.show_friendships"></i>
                <i class="fa fa-lg fa-caret-down" ng-show="friendshipCtrl.show_friendships"></i>
            </label>
        </div>
    </div>
    <hr class="friendship-header-hr">

    <div class="row friendships-content" ng-show="friendshipCtrl.show_friendships">
        <div class="col-sm-12">

            <div class="row">
                <div class="col-sm-12 friendship-list-col">
                    <div class="friendship-list-wrapper">
                        <div class="friendship-in-list clearfix" ng-class="{'accepted': friendship.status==='accepted', 'selected': friendshipCtrl.friendshipConvoIsSelected(friendship)}" ng-click="friendshipCtrl.selectConvo(friendship)" ng-mouseover="friendshipCtrl.hoverFriendship(friendship)" ng-mouseleave="friendshipCtrl.unhoverFriendship(friendship)" ng-repeat="friendship in friendshipCtrl.friendships track by friendship._id">
                            <span ng-class="{'friendship-needs-answer': friendshipCtrl.friendshipNeedsAnswer(friendship)}">{{ friendship | friend: friendshipCtrl.selected_user | username: friendshipCtrl.friend_user_map }} {{ friendshipCtrl.conditionalStatus(friendship) }}</span>
                            <div class="btn-group pull-right" ng-style="{'opacity': friendshipCtrl.friendshipOpacity(friendship)}">
                                <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown">&#10005;</a>
                                <ul class="dropdown-menu">
                                    <li ng-click="friendshipCtrl.deleteFriendship(friendship._id); $event.stopPropagation();"><a class="btn btn-danger">Delete friendship</a></li>
                                </ul>
                            </div>
                            <a class="btn btn-success pull-right" ng-click="friendshipCtrl.acceptFriendship(friendship._id); $event.stopPropagation();" ng-show="friendshipCtrl.showAcceptButton(friendship)">&#10003;</a>
                            <div class="convo-unread-notification-bubble" ng-show="friendshipCtrl.showConvoUnreadNotificationBubble(friendship)">{{ friendshipCtrl.convo_unread_message_counts[friendship._id] }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row friendship-form-row">
                <form>
                    <div class="col-sm-8">
                        <input class="friendships-input" type="text" placeholder="Username" ng-model="friendshipCtrl.newFriendshipFormData.username" enter-submit="friendshipCtrl.createFriendship()" uib-typeahead="user as user.username for user in friendshipCtrl.allUsernames($viewValue)" typeahead-popup-template-url="/components/typeahead/typeahead-popup.html" typeahead-template-url="/components/typeahead/typeahead-match.html"/>
                    </div>

                    <div class="col-sm-4 no-left-padding">
                        <a class="btn btn-success" ng-click="friendshipCtrl.createFriendship()">Request</a>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- absolute positioned elements -->

    <div class="friendship-notification-bubble" ng-show="friendshipCtrl.showFriendshipNotificationBubble()">
        <div class="friendship-notification-inner-bubble"></div>
    </div>

    <div class="total-unread-notification-bubble" ng-show="friendshipCtrl.showTotalUnreadNotificationBubble()">{{ friendshipCtrl.totalUnreadMessages() }}</div>

    <div class="friendship-error" ng-style="{'opacity': friendshipCtrl.friendship_error.opacity}">{{ friendshipCtrl.friendship_error.message }}</div>

</div>
