.navbar {
    height: 8vh;
    min-height: 40px;
    margin-bottom: 0;
    background-color: #777;
    border-bottom: solid 3px #555;
}

.navbar-container {
    height: 100%;
}

.navbar-logo {
    height: 100%;
}

.navbar-dropdown-container {
    margin-top: 10px;
    margin-right: -15px;
    padding: 0 10px;
}

.navbar-dropdown-container .username-link:hover {
    color: #CCC;
}

.navbar-dropdown-container.open .username-link {
    background-color: #333;
}

.navbar .dropdown-menu .btn:active:focus {
    outline: #777 dotted thin;
    color: #999;
}

.navbar .dropdown-menu li {
    text-align: center;
}

.navbar .dropdown-menu li:not(:first-child) {
    border-top: solid 1px #AAA;
}

.navbar .dropdown-menu a {
    position: relative;
}

.navbar .dropdown-menu i {
    position: absolute;
    top: 10px;
    left: 10px;
}

.navbar-profile-pic {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    margin-left: 20px;
    border-radius: 50%;
}

.navbar-profile-pic:hover {
    border: solid 2px #DDD;
}

.navbar-profile-pic:active {
    border: solid 3px #DDD;
}

.navbar-divider {
    margin-left: 20px;
    height: 30px;
    width: 1px;
    background-color: #DDD;
    opacity: 0.5;
}

.navbar-button {
    margin-left: 15px;
    width: 40px;
}
