.message-header-div {
    height: 8vh;
    margin-top: 15px;
}

.message-header-div img {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message-header-div h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 80px;
}

.friendship-buttons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    padding-right: 40px;
    height: 40%;
}

.friendship-buttons span {
    margin-left: 10px;
}

.friendship-buttons li {
    width: 100%;
}

.favorite-friendship {
    color: #FFCC00;
}

.delete-friendship {
    color: #FF4444;
}

.message-list-wrapper {
    height: 62vh;
    overflow: auto;
    padding: 0 15px;
    text-align: center;
    border-top: solid 1px #EEE;
}

.message-wrapper {
    position: relative;
    font-size: 0.9em;
    top: 0;
    left: 0;
    transition: top 0.1s, left 0.1s;
}

.message-wrapper .bubble {
    transition: box-shadow 0.1s;
}

.sender-message {
    margin-left: auto;
    text-align: right;
}

.sender-message .bubble {
    border-radius: 15px;
}

.sender-message .message-time-sent {
    left: 0;
}

.receiver-message {
    margin-left: 0;
    text-align: left;
}

.receiver-message .bubble {
    border-radius: 0;
}

.receiver-message .message-time-sent {
    right: 0;
}

.hovered-messages {
    top: -1px;
    left: -1px;
}

.hovered-messages .bubble {
    box-shadow: 1px 1px 1px #777;
}

.bubble {
    position: relative;
    margin: 3px 0;
    padding: 5px 10px;
    display: inline-block;
    max-width: 80%;
    text-align: left;
}

.message-text {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.message-time-sent {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 1em;
    opacity: 0.5;
}

.send-message-form {
    height: 15vh;
    margin-top: 3vh;
}

.read-receipt {
    font-size: 0.8em;
    opacity: 0.5;
}

#sendable-textarea {
    font-size: 0.8em;
    height: 13vh;
}

.no-disabled-cursor:disabled {
    cursor: auto;
}

/* ANIMATIONS */

.just-addressed-message:not(.ng-hide):not(.ng-leave) {
    animation: highlight-then-fade 2s;
}

@keyframes highlight-then-fade {
    0% {
        background-color: #DDDDDD;
    }
    50% {
        background-color: #DDDDDD;
    }
    100% {
        background-color: white;
    }
}
