.auth-view-col {
    width: 100%;
    height: 100%;
}

.auth-view-col-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.auth-all {
    margin-top: 100px;
    width: 300px;
}

.auth-all.ng-hide-remove {
    animation: fadeIn 0.5s;
}

.auth-header {
    font-size: 2em;
    font-weight: 300;
}

.auth-error {
    position: relative;
    margin-bottom: 1em;
    min-height: 3em;
    font-size: 0.9em;
    color: #FF5C5C;
}

.auth-error-content {
    position: absolute;
    bottom: 0;
}

.auth-form {
    input, button {
        width: 100%;
    }
}

.auth-form button {
    margin-bottom: 10px;
}

.auth-switch {
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #555;
}

/* ANIMATIONS */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
