<div class="row" ng-controller="authController as authCtrl">
    <div class="col-sm-3 col-sm-offset-6 auth-col">

        <img src="/assets/img/ivy.png">

        <braid-login ng-show="authCtrl.login_object"
                     selected_user="mainCtrl.selected_user"
                     login_object="authCtrl.login_object">
        </braid-login>
        <braid-register ng-hide="authCtrl.login_object"
                        selected_user="mainCtrl.selected_user"
                        login_object="authCtrl.login_object">
        </braid-register>

    </div>
</div>
