.auth-col img {
    position: absolute;
    top: 20px;
    left: -200px;
}

.auth-all {
    margin-top: 160px;
}

.auth-header {
    margin-bottom: 30px;
}

.auth-error {
    font-size: 0.9em;
    color: #FF5C5C;
    margin-bottom: 1em;
    height: 1em;
}

.auth-form input, button {
    width: 100%;
}

.auth-form p {
    margin-top: 10px;
    font-size: 0.9em;
}
