<div class="row" ng-controller="authController as authCtrl">
    <div class="col-sm-12">

        <div class="auth-all" ng-show="authCtrl.login_object">
            <braid-login selected_user="mainCtrl.selected_user"
                         login_object="authCtrl.login_object">
            </braid-login>
        </div>

        <div class="auth-all" ng-hide="authCtrl.login_object">
            <braid-register selected_user="mainCtrl.selected_user"
                            login_object="authCtrl.login_object">
            </braid-register>
        </div>

    </div>
</div>
