.auth-all {
    position: absolute;
    top: 120px;
    left: 250px;
    width: 250px;
}

.auth-all.ng-hide-remove {
    animation: fadeIn 0.5s;
}

.auth-header {
    margin-bottom: 10px;
}

.auth-error {
    position: relative;
    margin-bottom: 1em;
    min-height: 3em;
    font-size: 0.9em;
    color: #FF5C5C;
}

.auth-error-content {
    position: absolute;
    bottom: 0;
}

.auth-form input, button {
    width: 100%;
}

.auth-form p {
    margin-top: 10px;
    font-size: 0.9em;
}

/* ANIMATIONS */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
