<div class="auth-container">
    <div class="auth-header">
        Reset Password
    </div>

    <div class="auth-error" ng-style="{'opacity': resetPWCtrl.resetPWErrorOpacity()}">
        <div class="auth-error-content">{{ resetPWCtrl.reset_password_error }}</div>
    </div>

    <form class="auth-form"
          ng-hide="resetPWCtrl.password_has_been_reset"
          ng-submit="resetPWCtrl.resetPassword()">
        <div class="form-group">
            <input type="password"
                   placeholder="New Password"
                   ng-model="resetPWCtrl.resetPWForm.new_password">
        </div>
        <div class="form-group">
            <input type="password"
                   placeholder="Confirm New Password"
                   ng-model="resetPWCtrl.resetPWForm.confirm_new_password">
        </div>

        <button class="btn btn-success" type="submit">Reset Password</button>
    </form>

    <div ng-show="resetPWCtrl.password_has_been_reset">
        <p>Password reset! <i class="fa fa-lg fa-check-circle text-success"></i></p>
        <p><a href="/auth">Return to login page.</a></p>
    </div>
</div>
