<div class="auth-container">
    <div class="auth-header">
        Reset Password
    </div>

    <div class="auth-error" ng-style="{'opacity': initResetPWCtrl.initResetPWErrorOpacity()}">
        <div class="auth-error-content">{{ initResetPWCtrl.initiate_reset_password_error }}</div>
    </div>

    <form class="auth-form"
          ng-hide="initResetPWCtrl.password_reset_initiated"
          ng-submit="initResetPWCtrl.initiateResetPassword()">
        <div class="form-group">
            <input type="text" placeholder="Username" ng-model="initResetPWCtrl.initResetPWForm.username">
        </div>

        <button class="btn btn-success" type="submit">Initiate Password Reset</button>
        <p class="auth-switch">
            Don't need to reset your password?
            <a class="clickable" ng-click="initResetPWCtrl.auth_view='login'" type="button">Login here.</a>
        </p>
    </form>

    <div ng-show="initResetPWCtrl.password_reset_initiated">
        <p>Email sent! <i class="fa fa-lg fa-check-circle text-success"></i></p>
        <p>Follow the instructions in the email to reset your password.</p>
    </div>
</div>
