@import '../../index/index.scss';

.account-settings-pane {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 20px;
}

.settings-header-div {
    padding: 10px;
    border-bottom: solid 1px #DDD;
    font-size: 2.5em;
    font-weight: 300;
}

.settings-table-row {
    display: flex;
    @include breakpoint(mobile) { flex-direction: column-reverse; };
    padding: 10px;
}

.settings-table {
    flex: 2;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.settings-table tr:not(:first-child):not(:last-child) {
    border: 1px solid #CCC;
    border-width: 1px 0;
}

.settings-table td {
    height: 70px;
    padding: 15px;
}

.settings-table td:first-child {
    width: 30%;
    color: #555;
    font-size: 1.1em;
    font-weight: bold;
}

.settings-table td:not(:first-child) {
    width: 70%;
}

.profile-pic-form-cell {
    position: relative;
}

.profile-pic-example {
    position: absolute;
    top: 0;
    color: #AAA;
}

.profile-pic-save {
    margin-left: 15px;
}

.settings-pic-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic-error-msg {
    color: #FF5C5C;
}

.profile-pic-preview-container {
    height: 200px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.profile-pic-preview {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.profile-pic-preview:hover {
    border: solid 2px #DDD;
}

.profile-pic-preview:active {
    border: solid 3px #DDD;
}

.needs-save {
    opacity: 0.5;
}
