.account-settings-pane {
    padding: 20px;
}

.settings-table {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.settings-table tr:not(:first-child):not(:last-child) {
    border: 1px solid #CCC;
    border-width: 1px 0;
}

.settings-table td {
    height: 70px;
    padding: 15px;
}

.settings-table td:first-child {
    width: 30%;
    color: #555;
    font-size: 1.1em;
    font-weight: bold;
}

.settings-table td:not(:first-child) {
    width: 70%;
}

.profile-pic-form-cell {
    position: relative;
}

.profile-pic-example {
    position: absolute;
    top: 0;
    color: #AAA;
}

.profile-pic-save {
    margin-left: 15px;
}

.profile-pic-error-msg {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    color: #FF5C5C;
}

.profile-pic-preview-container {
    height: 200px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.profile-pic-preview {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.profile-pic-preview:hover {
    border: solid 2px #DDD;
}

.profile-pic-preview:active {
    border: solid 3px #DDD;
}

.needs-save {
    opacity: 0.5;
}
